* {
    /* border: 1px solid red; */
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    color: #16C79A;
}

body {
    background-color: #E7D9EA;
    opacity: 85%;
    width: 100vw;
    height: 100vh;
    display: flex;
	justify-content: space-between;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 45px;
    margin: 12px;
}

p{
    font-size: 21px;
}

button{
    background-color: #E7D9EA;
    color: black;
    margin: 25px;
    height: 85px;
    width: 150px;
    border: 5px solid black;
    border-radius: 25px;
    font-size: 21px;
}

.player-section{
    width: 500px;
    background-color: #11698E;
    opacity: 80%; 
    text-align: center;
}

.game-container{
    width: 900px;
    text-align: center;
    background-color: #19456B;
    opacity: 80%;

}

.game-choice{
    background-color: #11698E;
    border: 5px solid black;
    border-radius: 15px;
    padding: 8px;
    width: 250px;
    font-size: 16px;
}

.fighter{
    height: 100px;
    width: 100px;
    border: 5px solid black;
    border-radius: 15px;
    padding: 10px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.choices-styling{
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player {
    height: 150px;
    width: 150px;
}
.hidden {
    display: none;
}

#spicy, #vanilla{
    margin: 10px
}

#fighter {
    height: 30px;
    width: 30px; 
}

#humanWins, #cpuWins {
    font-size: 36px;
}

#resultMsg{
    font-size: 50px;
    color: #E7D9EA;
}